@import "tailwindcss";

body {
    /* background-image: url("../images/pic2.jpg"); */
    /* background-color: aqua; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 1400px;
}

